*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 90%;
}

p{
    color: white;
}

form{
    position: relative;
    top: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 15px;
    background-color:#3846ED;
    padding-top: 25px;
    padding-bottom: 15px;
    border-radius: 10px;
}

input{
    width: 100%;
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 7px;
    border: none;
}

#btn{
    width: min-content;
    padding: 5px 20px;
    background-color: #E2764B;
    color: white;
    border-radius: 3px;
    border: none;
    transition: all 0.3 ease;
}

#btn:hover {
    background-color: #f17e50;
}

#btn:active{
    transform: scale(0.95);
}

h1{
    background-color: #3846ED;
    text-align: center;
    color: white;
    width: 100%;
}

a{
    color: white;
    position: absolute;
    left: 90%;
    top: 0.5rem;
}

.defaultAvatars{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 5px;
    border-radius: 10px;
    width: min-content;
    background-color: white;
    flex-wrap: nowrap;
}

.defaultAvatar{
    width: 50px;
    border-radius: 100%;
}

.defaultAvatar:hover{
    cursor: pointer;
}
